<%= form_with(model: topping, data: { turbo: false}) do |form| %>
  <% if topping.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(topping.errors.count, "error") %> prohibited this topping from being saved:</h2>
      <ul>
        <% topping.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-4">
      <%= form.text_field :name, class: 'form-control' %>
    </div>
  </div>

   <div class="mb-3">
    <div class="col-sm-4 offset-sm-1">
      <%= form.submit 'Create Topping', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<%= link_to 'Back', toppings_path, class: 'btn btn-secondary' %>
