<p style="color: green"><%= notice %></p>
<h1>Toppings</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @toppings.present? %>
      <% @toppings.each do |topping| %>
        <tr>
          <td><%= topping.name %></td>
          <td><%= link_to 'Show', topping, class: 'btn btn-primary' %></td>
          <td><%= link_to 'Edit', edit_topping_path(topping), class: 'btn btn-warning' %></td>
          <td><%= button_to 'Destroy', topping, method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    <% else %>
      <h3>No Toppings found, please create one!</h3>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Topping', new_topping_path, class: 'btn btn-success' %>
