<%= form_with(model: pizza, data: { turbo: false}) do |form| %>
  <% if pizza.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(pizza.errors.count, "error") %> prohibited this pizza from being saved:</h4>
      <ul>
        <% pizza.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-4">
      <%= form.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :topping_ids, "Toppings(Can Select Multiple)", class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-4">
      <%= form.collection_select :topping_ids, Topping.all, :id, :name, {}, { multiple: true, class: 'form-control' } %>
    </div>
  </div>

  <div class="mb-3">
    <div class="col-sm-4 offset-sm-1">
      <%= form.submit 'Create Pizza', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<%= link_to 'Back', pizzas_path, class: 'btn btn-secondary' %>